body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  /* background-image: url("https://cdn.pixabay.com/photo/2018/01/09/10/47/astronomy-3071312_960_720.jpg");  */
  max-width: 100%;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
  background-color: #ffffff75;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

/* .filme{
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #ffffff2a;
} */

.filme input{
  width: 50%;
  padding: 5px 10px;
  background-color: #ffffff46;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 10px;
}

.filme p{
  color: #ffffff;
}

button{
  cursor: pointer;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #ffffff46;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 5px 10px;
}

button:hover{
  background-color: #2f00ff2f;
  color: #2f00ff;
  border: 1px solid ;
}

@media (max-width: 500px) {
  body {
    min-height: 800px;
    background-color: #3a3a3a;
    background-image: none;
  }
}